.menu_burger{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    span{
        height:  0.2rem;
        width: 2rem;
        border-radius: 1rem;
        background: #fff;
        transition: 0.5s;
    }
}
.menu_burger.active > span{
    transform: rotate(45deg) translate(0px, 10px);
}
.menu_burger.active > span:nth-child(2){
    transform: rotate(-45deg) translate(-1px, -7px);
}