.title_container{
    width:35rem;
    p{
        color: rgba(233, 220, 255, 0.80);
        font-size: 1.1rem;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }
    h1{
        margin: 1.3rem 0;
        color: #FFF;
        text-align: justify;
        font-size: 3.4rem;
        font-style: normal;
        font-weight: 600;
     
        letter-spacing: 0.1rem;
        text-transform: capitalize;
    }
    button,i,span{
        transition: 0.5s;
    }
    button{
        background-color: #E9DCFF;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        overflow: hidden;
        gap: 0.1rem;
        span{
            color: #1E1E1E;
            font-size: 1.5rem;
            font-weight: 700;
        }
        i{
            font-size: 1.5rem;
        }
    }
    button:hover  > span{
        transform: translateX(10px);
    }
    button:hover > i{
        transform: translateY(50px);
    }
}