@media screen and (max-width:768px) {
    .nav_bar{
     ul{
        gap: 1.5rem;
        li{
            a{
                font-size: 0.9rem;
            }
        }
     }
     button{
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
     }
    }
}
@media screen and (max-width:731px) {
    .nav_bar{
     ul{
        gap: 1rem;
     }
    }
}
@media screen and (max-width:441px) {
    .nav_bar{
      
        .burger_icon, img{
            z-index: 1;
        }
        ul{
            display: none;
            width: 100%;
        }
        .buttons{
            display: none;
        }
        .burger_icon{
            display: block;
           
        }
        
    }
    .nav_bar_mobile{
        display: none;
    }
    .nav_bar_mobile.active{
        display: block;
    }
  
}