<div class="nav_bar">
    <img src="../../../assets/logo-starlingbank.png" alt="logo">
    <ul>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About us</a></li>
    </ul>
    <div class="buttons">
        <button>Log In</button><button>Sign Up</button>
    </div>
    <div class="burger_icon" (click)="menu_burger()">
        <app-menu-burger/>
    </div>
</div>
<div class="nav_bar_mobile" [ngClass]="nav_bar_mobile">
    <app-nav-bar-mobile/>
</div>

