.mobile_nav_bar{
    background: hsl(0, 0%, 5%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width:100%;
    animation: mobile 0.5s ease-in-out;
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin: 4rem 0 0 0;
        padding: 1rem;
        
        li,a{
            transition: 0.5s;
        }
        li{
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            width: 100%;

            a{
                text-decoration: none;
                color: #FFF;
                font-size: 1.3rem;
                font-weight: 500;
            }
        }
        li:hover{
            background: #E9DCFF;
        }
        li:hover > a{
            color: #1E1E1E;
        }
    }
}
@keyframes mobile {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}